
<div class="container notify" *ngIf="isLoggedIn; else LoggedOut"><h2>Hello {{username}}</h2></div>
<ng-template #LoggedOut>

  <div class="main-content">

    <!-- main -->
    <div id="wrapper-site">
      <div id="content-wrapper" class="full-width">
        <div id="main">
          <div class="container">
            <h1 class="text-center title-page">{{"Log In" | translate}}</h1>
            <div class="login-form">
              <form id="customer-form" (ngSubmit)="onSubmit()" #f="ngForm">
                <div>
                  <input type="hidden" name="back" value="my-account">
                  <div class="form-group no-gutters">
                    <input class="form-control" name="username" type="text" placeholder="Username" [(ngModel)]="form.username">
                  </div>
                  <div class="form-group no-gutters">
                    <div class="input-group js-parent-focus">
                      <input class="form-control js-child-focus js-visible-password" name="password" type="password"
                             [(ngModel)]="form.password" value="" placeholder="Password">
                    </div>
                  </div>
                  <div class="no-gutters text-center">
                    <div class="forgot-password">
                      <a routerLink="/signup" rel="nofollow">
                        Don't have an account? Signup for free
                      </a>
                    </div>
                  </div>
                </div>
                <div class="clearfix">
                  <div class="text-center no-gutters">
                    <input type="hidden" name="submitLogin" value="1">
                    <button class="btn btn-primary" data-link-action="sign-in" type="submit">
                      {{"Log In" | translate}}
                    </button>
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger error-message">
                      {{"Login failed!" | translate}} <br> {{errorMessage}}
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

