<div class="main-content">
    <div class="container-fluid">
        <form class="col-md-4">
            <div class="input-group no-border">
                <input type="text" value="" name="term" [ngModel]="term" (ngModelChange)="valuechange($event)"
                       placeholder="Search..."
                       class="form-control">
                <button class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 i18n class="card-title">{{ 'product' | translate }}</h4>
                        <p i18n class="card-category">{{ 'This_is_product_list' | translate }}</p>
                    </div>
                    <div class="card-body"
                    >
                        <button mat-raised-button (click)="openDialog()" type="submit"
                                class="btn btn-danger pull-right">{{ 'add_new_product' | translate }}
                        </button>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary">
                                <th>
                                </th>
                                <th>
                                    ID
                                </th>
                                <th>
                                    {{ 'name' | translate }}
                                </th>
                                <th>
                                  {{ 'project' | translate }}
                                </th>
                                <th>
                                    {{ 'moTa' | translate }}
                                </th>
                                <th>
                                    {{ 'address' | translate }}
                                </th>
                                <th>
                                    {{ 'area' | translate }}
                                </th>
                                <th>
                                    {{ 'totalFee' | translate }}
                                </th>

                                <th>
                                    {{ 'edit' | translate }}
                                </th>
                                <th>
                                    {{ 'delete' | translate }}
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let staff of products" (click)="loadStaff(staff)">
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                <span class="form-check-sign">
                        <span class="check"></span>
                        </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>{{staff.id}}</td>
                                    <td>{{staff.tenSanPham}}</td>
                                  <td>{{staff.project ? staff.project.tenDuAn : "chưa có"}}</td>
                                     <td>{{staff.moTa}}</td>
                                    <td>{{staff.diaChi}}</td>
                                  <td>{{staff.dienTich ? staff.dienTich + 'm2' : '' }} </td>
                                  <td>{{staff.giaTien ? staff.giaTien + 'VND' : '' }}</td>
                                    <td class="td-actions">
                                        <button (click)="edit(staff)" mat-raised-button type="button"
                                                matTooltip="Edit" [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                    <td class="td-actions">
                                        <button (click)="delete(staff.id)" mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" *ngIf="product.id">
                <div class="card card-profile">
                    <div class="card-avatar"><a href="javascript:void(0)">
                        <img src="{{product.image}}" style="width: 200px; height: 200px" class="img"></a></div>
                    <div class="card-body">
                        <h6 *ngIf="product.tenSanPham" class="card-category text-gray">{{product.tenDuAn}}</h6>
                        <h4 *ngIf="product.moTa" class="card-title"> {{ 'type' | translate }} : {{product.moTa}}</h4>
                        <h4 *ngIf="product.diaChi" class="card-title">{{ 'address' | translate }}: {{product.diaChi}}</h4>
                        <h4 *ngIf="product.dienTich" class="card-title">{{ 'area' | translate }}: {{product.dienTich}}</h4>
                        <p *ngIf="product.giaTien" class="card-title">{{ 'totalFee' | translate }}: {{product.giaTien}}</p>
                      <h4 *ngIf="product.ngayTao" class="card-title"> {{ 'First day' | translate }}
                        : {{product.ngayTao |  date:'dd/MM/yyyy'}}
                        <h4 *ngIf="product.tienDo" class="card-title">{{ 'Progress' | translate }}: {{product.tienDo}}</h4>
                        <h4 *ngIf="product.trangThai" class="card-title">{{ 'status' | translate }}: {{product.trangThai}}</h4>
<!--                        <h4 *ngIf="product.project" class="card-title">{{ 'project' | translate }}: {{product.project}}</h4>-->
                      </h4>
                        <button mat-raised-button  type="submit"
                                class="btn btn-danger pull-right">
                            {{'See more' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
