<div class="main-content">
    <div class="container-fluid">
        <form class="col-md-4">
            <div class="input-group no-border">
                <input type="text" value="" name="term" [ngModel]="term" (ngModelChange)="search($event)"
                       placeholder="Search..."
                       class="form-control">
                <button class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 i18n class="card-title">{{ 'news' | translate }}</h4>
                        <p i18n class="card-category">{{ 'This_is_newss_list' | translate }}</p>
                    </div>
                    <div class="card-body"
                    >
                        <button mat-raised-button (click)="openDialog()" type="submit"
                                class="btn btn-danger pull-right">{{ 'add_new_news' | translate }}
                        </button>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary">
                                <th>
                                </th>
                                <th>
                                    ID
                                </th>
                                <th>
                                    {{ 'title' | translate }}
                                </th>
                                <th>
                                    {{ 'edit' | translate }}
                                </th>
                                <th>
                                    {{ 'delete' | translate }}
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let news of newsList" (click)="loadNews(news)">
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                <span class="form-check-sign">
                        <span class="check"></span>
                        </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>{{news.id}}</td>
                                    <td>{{news.title}}</td>
                                    <td class="td-actions">
                                        <button (click)="edit(news)" mat-raised-button type="button"
                                                matTooltip="Edit" [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                    <td class="td-actions">
                                        <button (click)="delete(news.id)" mat-raised-button type="button"
                                                matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" *ngIf="news.id">
                <div class="card card-profile">
                    <div class="card-avatar"><a href="javascript:void(0)">
                        <img src="{{news.image}}" style="width: 200px; height: 200px" class="img"></a></div>
                    <div class="card-body">
                        <h6 *ngIf="news.title" class="card-category text-gray">{{ ['title' | translate] }}
                            {{ 'news' | translate }}: {{news.title}}</h6>

                        <button mat-raised-button type="submit" (click)="preview()"
                                class="btn btn-danger pull-right">
                            {{'See more' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
