<div mat-dialog-content>
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">{{'save' | translate}} {{'partner' | translate}}</h4>
      <p *ngIf="data.id" class="card-category">ID : {{data.id}}</p>
    </div>
    <div class="card-body">
      <form [formGroup]="validated" (ngSubmit)="onSubmit()" >
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [(ngModel)]="data.tenDoiTac" type="text" class="form-control" formControlName="doiTac" placeholder="{{'Name partner'| translate}}"
                   >
              <span class="error" *ngIf="doiTac.invalid && doiTac.touched"></span>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [(ngModel)]="data.linhVuc" type="text" class="form-control" placeholder="{{'Type'| translate}}"
                      formControlName="linhVuc">
              <span class="error" *ngIf="linhVuc.invalid && linhVuc.touched"></span>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input matInput [(ngModel)]="data.diaChi" placeholder="{{'Address'| translate}}"
                     class="form-control" type="text" formControlName="diaChi">
              <span class="error" *ngIf="diaChi.invalid && diaChi.touched"></span>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [(ngModel)]="data.sdt" class="form-control" formControlName="sDT" placeholder="{{'sdt'| translate}}"
                  >
              <span class="error" *ngIf="sDT.invalid && sDT.touched"></span>
            </mat-form-field>
          </div>
          <div class="col-md-6 form-group">
            <mat-form-field>
              <input matInput type="email"[(ngModel)]="data.email" class="form-control" formControlName="email" placeholder="{{'email'| translate}}"
                    >
              <span class="error" *ngIf="email.invalid && email.touched"> Email is required</span>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <div class="custom-file">
              <input type="file" (change)="selectFile($event,0)" class="custom-file-input" id="validatedCustomFile"
                     required>
              <label class="custom-file-label" for="validatedCustomFile">{{'Choose file...'| translate}}</label>
            </div>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput type="number" step="100" [(ngModel)]="data.soVonDauTu" placeholder="{{'amount of investment'| translate}}"
                     [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="data" type="submit" [disabled]="validated.invalid" (click)="save()"
          cdkFocusInitial class="btn btn-danger pull-right mr-3">Ok
  </button>
  <button mat-raised-button (click)="onNoClick()" class="btn btn-danger pull-right mr-5">Cancel</button>
</div>
