<!--<div class="main-content">-->
<!--    <div class="container-fluid">-->
<!--        <form class="col-md-4">-->
<!--            <div class="input-group no-border">-->
<!--                <input type="text" value="" name="term" [ngModel]="term" (ngModelChange)="valuechange($event)"-->
<!--                       placeholder="Search..."-->
<!--                       class="form-control">-->
<!--                <button class="btn btn-white btn-round btn-just-icon">-->
<!--                    <i class="material-icons">search</i>-->
<!--                    <div class="ripple-container"></div>-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--        <div class="row">-->
<!--            <div class="col-md-8">-->
<!--                <div class="card">-->
<!--                    <div class="card-header card-header-primary">-->
<!--                        <h4 i18n class="card-title">{{ 'upload' | translate }}</h4>-->
<!--                        <p i18n class="card-category">{{ 'This_is_uploads_list' | translate }}</p>-->
<!--                    </div>-->
<!--                    <div class="card-body"-->
<!--                    >-->
<!--                        <button mat-raised-button (click)="openDialog()" type="submit"-->
<!--                                class="btn btn-danger pull-right">{{ 'add_new_upload' | translate }}-->
<!--                        </button>-->
<!--                        <div class="table-responsive">-->
<!--                            <table class="table table-hover">-->
<!--                                <thead class="text-primary">-->
<!--                                <th>-->
<!--                                </th>-->
<!--                                <th>-->
<!--                                    ID-->
<!--                                </th>-->
<!--                                <th>-->
<!--                                    {{ 'type' | translate }}-->
<!--                                </th>-->
<!--                                <th>-->
<!--                                    {{ 'product' | translate }}-->
<!--                                </th>-->

<!--                                <th>-->
<!--                                    {{ 'edit' | translate }}-->
<!--                                </th>-->
<!--                                <th>-->
<!--                                    {{ 'delete' | translate }}-->
<!--                                </th>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                <tr *ngFor="let staff of uploads" (click)="loadStaff(staff)">-->
<!--                                    <td>-->
<!--                                        <div class="form-check">-->
<!--                                            <label class="form-check-label">-->
<!--                                                <input class="form-check-input" type="checkbox" value="">-->
<!--                                                <span class="form-check-sign">-->
<!--                        <span class="check"></span>-->
<!--                        </span>-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    </td>-->
<!--                                    <td>{{upload.id}}</td>-->
<!--                                  <td>{{upload.dinhDang}}</td>-->

<!--                                    <td>{{upload.product}}</td>-->
<!--                                    <td class="td-actions">-->
<!--                                        <button  mat-raised-button type="button"-->
<!--                                                matTooltip="Edit" [matTooltipPosition]="'above'"-->
<!--                                                class="btn btn-primary btn-link btn-sm btn-just-icon">-->
<!--                                            <i class="material-icons">edit</i>-->
<!--                                        </button>-->
<!--                                    </td>-->
<!--                                    <td class="td-actions">-->
<!--                                        <button  mat-raised-button type="button"-->
<!--                                                matTooltip="Remove"-->
<!--                                                [matTooltipPosition]="'above'"-->
<!--                                                class="btn btn-danger btn-link btn-sm btn-just-icon">-->
<!--                                            <i class="material-icons">close</i>-->
<!--                                        </button>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--          <div class="col-md-4" *ngIf="upload.id">-->
<!--            <div class="card card-profile">-->
<!--              <div class="card-avatar"><a href="javascript:void(0)">-->
<!--                <img src="{{upload.image}}" style="width: 200px; height: 200px" class="img"></a></div>-->
<!--              <div class="card-body">-->
<!--                <h6 *ngIf="upload.dinhDang" class="card-category text-gray">{{upload.dinhDang}}</h6>-->
<!--                <h4 *ngIf="upload.product" class="card-title"> {{ 'type' | translate }} : {{upload.product}}</h4>-->
<!--                <button mat-raised-button type="submit"-->
<!--                        class="btn btn-danger pull-right">-->
<!--                  {{'See more' | translate}}-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="main-content">
  <div class="container-fluid">
    <form class="col-md-4">
      <div class="input-group no-border">
        <input type="text" value="" name="term" [ngModel]="term" (ngModelChange)="valuechange($event)"
               placeholder="Search..."
               class="form-control">
        <button class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i>
          <div class="ripple-container"></div>
        </button>
      </div>
    </form>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 i18n class="card-title">{{ 'uploads' | translate }}</h4>
            <p i18n class="card-category">{{ 'This_is_images_list' | translate }}</p>
          </div>
          <div class="card-body"
          >
            <button mat-raised-button (click)="openDialog()" type="submit"
                    class="btn btn-danger pull-right">{{ 'add_new_product' | translate }}
            </button>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                <th>
                </th>
                <th>
                  ID
                </th>
                <th>
                  {{ 'type' | translate }}
                </th>
                <th>
                  {{ 'product' | translate }}
                </th>
                <th>
                  {{ 'edit' | translate }}
                </th>
                <th>
                  {{ 'delete' | translate }}
                </th>
                </thead>
                <tbody>
                <tr *ngFor="let staff of uploads" (click)="loadStaff(staff)">
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign">
                        <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>{{staff.id}}</td>
                  <td>{{staff.dinhDang}}</td>
                  <td>{{staff.product ? staff.product.tenSanPham : "chưa có"}}</td>
                  <td *ngIf="staff.depart">{{staff.depart.name}}</td>
                  <td class="td-actions">
                    <button (click)="edit(staff)" mat-raised-button type="button"
                            matTooltip="Edit" [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                      <i class="material-icons">edit</i>
                    </button>
                  </td>
                  <td class="td-actions">
                    <button (click)="delete(staff.id)" mat-raised-button type="button" matTooltip="Remove"
                            [matTooltipPosition]="'above'"
                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="upload.id">
        <div class="card card-profile">
          <div class="card-avatar"><a href="javascript:void(0)">
            <img src="{{upload.image}}" style="width: 200px; height: 200px" class="img"></a></div>
          <div class="card-body">
            <h6 *ngIf="upload.dinhDang" class="card-category text-gray">{{upload.dinhDang}}</h6>
            <h4 *ngIf="upload.product" class="card-title"> {{ 'type' | translate }} : {{upload.product}}</h4>
            <button mat-raised-button  type="submit"
                    class="btn btn-danger pull-right">
              {{'See more' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
