<div mat-dialog-content>
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">{{'save' | translate}} {{'project' | translate}}</h4>
            <p *ngIf="data.id" class="card-category">ID : {{data.id}}</p>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput [(ngModel)]="data.tenDuAn" placeholder="{{'name'| translate}}"
                                   [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>{{'type'| translate}}</mat-label>
                            <mat-select [(value)]="data.loaiHinh" >
                                <mat-option *ngFor="let depart of typeOptions" [value]="depart">
                                    {{depart}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput [(ngModel)]="data.diaChi" placeholder="{{'Address'| translate}}"
                                   [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput type="number" step="100" [(ngModel)]="data.dienTich" placeholder="{{'Area'| translate}}"
                                   [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput type="number" step="100" [(ngModel)]="data.chiPhiDuAn" placeholder="{{'totalFee'| translate}}"
                                   [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="{{'CommencementDate'| translate}}" [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput type="number" step="0.1" [(ngModel)]="data.mapX" placeholder="{{'longitude'| translate}}"
                                   [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput type="number" step="0.1" [(ngModel)]="data.mapY" placeholder="{{'latitude'| translate}}"
                                   [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-file">
                            <input type="file" (change)="selectFile($event,0)" class="custom-file-input" id="validatedCustomFile"
                                   required>
                            <label class="custom-file-label" for="validatedCustomFile">{{'Choose file...'| translate}}</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="data" (click)="save()"
            cdkFocusInitial class="btn btn-danger pull-right mr-3">Ok
    </button>
    <button mat-raised-button (click)="onNoClick()" class="btn btn-danger pull-right mr-5">Cancel</button>
</div>
