<div class="main-content">
    <div class="container-fluid">
        <form class="col-md-4">
            <div class="input-group no-border">
                <input type="text" value="" name="term" [ngModel]="term" (ngModelChange)="valueChange($event)"
                       placeholder="Search..."
                       class="form-control">
                <button class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 i18n class="card-title">{{ 'project' | translate }}</h4>
                        <p i18n class="card-category">{{ 'This_is_projects_list' | translate }}</p>
                    </div>
                    <div class="card-body"
                    >
                        <button mat-raised-button (click)="openDialog()" type="submit"
                                class="btn btn-danger pull-right">{{ 'add_new_project' | translate }}
                        </button>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary">
                                <th>
                                </th>
                                <th>
                                    ID
                                </th>
                                <th>
                                    {{ 'name' | translate }}
                                </th>
                                <th>
                                    {{ 'type' | translate }}
                                </th>
                                <th>
                                    {{ 'address' | translate }}
                                </th>
                                <th>
                                    {{ 'area' | translate }}
                                </th>
                                <th>
                                    {{ 'totalFee' | translate }}
                                </th>
                                <th>
                                    {{ 'edit' | translate }}
                                </th>
                                <th>
                                    {{ 'delete' | translate }}
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let project of projects" (click)="loadProject(project)">
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                <span class="form-check-sign">
                        <span class="check"></span>
                        </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>{{project.id}}</td>
                                    <td>{{project.tenDuAn}}</td>
                                    <td>{{project.loaiHinh}}</td>
                                    <td>{{project.diaChi}}</td>
                                    <td>{{project.dienTich ? project.dienTich + 'm2' : '' }} </td>
                                    <td>{{project.chiPhiDuAn ? project.dienTich + 'VND' : '' }}</td>
                                    <td class="td-actions">
                                        <button (click)="edit(project)" mat-raised-button type="button"
                                                matTooltip="Edit" [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                    <td class="td-actions">
                                        <button (click)="delete(project.id)" mat-raised-button type="button"
                                                matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" *ngIf="project.id">
                <div class="card card-profile">
                    <div class="card-avatar"><a href="javascript:void(0)">
                        <img src="{{project.image}}" style="width: 200px; height: 200px" class="img"></a></div>
                    <div class="card-body">
                        <h6 *ngIf="project.tenDuAn" class="card-category text-gray">{{ ['name' | translate] }}
                            {{ 'project' | translate }}: {{project.tenDuAn}}</h6>
                        <h4 *ngIf="project.loaiHinh" class="card-title"> {{ 'type' | translate }}: {{project.loaiHinh}} </h4>
                        <h4 *ngIf="project.diaChi" class="card-title"> {{ 'address' | translate }}
                            : {{project.diaChi }}
                        </h4>
                        <h4 *ngIf="project.dienTich" class="card-title">{{ 'area' | translate }}
                            : {{project.dienTich}}  m2</h4>
                        <h4 *ngIf="project.chiPhiDuAn" class="card-title">{{ 'totalFee' | translate }}
                            : {{project.chiPhiDuAn}}  VND</h4>
                        <h4 *ngIf="project.mapX" class="card-description">{{ 'lat' | translate }}
                            : {{project.mapX}}</h4>
                        <h4 *ngIf="project.mapY" class="card-description">{{ 'lot' | translate }}
                            : {{project.mapY}}</h4>
                        <button mat-raised-button type="submit"
                                class="btn btn-danger pull-right">
                            {{'See more' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
