<button mat-raised-button class="mr-5" (click)="createHotPot()">creat hotpots</button>
<button mat-raised-button (click)="updateHotpot()">save hotpots</button>
<div class="contaniner">
  Tọa độ X
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1000"
    min="-6000" [(ngModel)]="xIndex" (ngModelChange)="changeProperty($event)"
    max="6000"></mat-slider>
  {{xIndex}}
  Tọa độ Y
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel" (ngModelChange)="changeProperty($event)"
    tickInterval="100"
    min="-1000" [(ngModel)]="yIndex"
    max="1000"></mat-slider>
  {{yIndex}}
  Tọa độ Z
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="100"
    min="-6000" [(ngModel)]="zIndex" (ngModelChange)="changeProperty($event)"
    max="6000"></mat-slider>
  {{zIndex}}
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="100"
    min="100" [(ngModel)]="rootTargetSize" (ngModelChange)="changeProperty($event)"
    max="1400"></mat-slider>
  {{rootTargetSize}}
  Ảnh gốc
  <div class="col-md-3">
    <mat-select [(ngModel)]="rootImageId" (ngModelChange)="onChange($event)">
      <mat-option *ngFor="let image of imageList,let i = index" [value]="i">
        {{image.title}}
      </mat-option>
    </mat-select>
  </div>
</div>

Tọa độ X
<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1000"
  min="-6000" [(ngModel)]="xIndexLinkedImg" (ngModelChange)="changeProperty($event)"
  max="6000"></mat-slider>
{{xIndexLinkedImg}}
Tọa độ Y
<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="100"
  min="-1000" [(ngModel)]="yIndexLinkedImg" (ngModelChange)="changeProperty($event)"
  max="1000"></mat-slider>
{{yIndexLinkedImg}}
Tọa độ Z
<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="100"
  min="-6000" [(ngModel)]="zIndexLinkedImg" (ngModelChange)="changeProperty($event)"
  max="6000"></mat-slider>
{{zIndexLinkedImg}}
<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="100"
  min="100" [(ngModel)]="linkedImgTargetSize" (ngModelChange)="changeProperty($event)"
  max="1400"></mat-slider>
{{linkedImgTargetSize}}
<div class="col-md-3">
  <mat-select [(ngModel)]="linkedImageId" (ngModelChange)="onChangeLinkedImage($event)">
    <mat-option *ngFor="let image of imageList,let i = index" [value]="i">
      {{image.title}}
    </mat-option>
  </mat-select>
</div>
<!--<div id="containerPano" style="width:100%;height:100%;overflow:hidden;">-->
<!--    <br>Loading...<br><br>-->
<!--</div>-->

