<div mat-dialog-content>
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">{{'save' | translate}} {{'category' | translate}}</h4>
      <p *ngIf="data.id" class="card-category">ID : {{data.id}}</p>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [(ngModel)]="data.name" placeholder="{{'name'| translate}}"
                     [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="data" (click)="save()"
          cdkFocusInitial class="btn btn-danger pull-right mr-3">Ok
  </button>
  <button mat-raised-button (click)="onNoClick()" class="btn btn-danger pull-right mr-5">Cancel</button>
</div>
