<button routerLink="/news" mat-raised-button style="position: fixed;" cdkFocusInitial class="btn btn-danger fixed-top pull-right mr-3">return to dashboard
</button>
<div class="pt-5 mt-5" [innerHTML]=htmlTemplate></div>
