<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a href="javascript:void(0)" class="navbar-brand">{{getTitle()}}</a>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown">
            <i class="material-icons">person</i>
            <span class="notification">5</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a (click)="switchLanguage('en')" class="dropdown-item">EN</a>
            <a (click)="switchLanguage('vn')" class="dropdown-item">VN</a>
            <a (click)="goBack()" class="dropdown-item">{{'Log out'| translate}}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
